/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.header{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:baseline;
    padding:5%;
}
.header nav{
    display:flex;
    Justify-content:space-evenly;
    align-items:center;
    width:60%;
}
nav a{
    display:flex;
    text-decoration:none;
    justify-content:center;
    align-items:center;
    color:black;
    font-size:1.1rem;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
h2{
    padding-top: 5%;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    width:100%;
    flex-wrap: wrap;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}
.middle-content .box1{
    background:teal;
}
.middle-content .box2{
    background:gold;
}
.middle-content .box3{
    background:cadetblue;
}
.middle-content .box4{
    background:coral;
}
.middle-content .box5{
    background:crimson;
}
.middle-content .box6{
    background:forestgreen;
}
.middle-content .box7{
    background:darkorchid;
}
.middle-content .box8{
    background:hotpink;
}
.middle-content .box9{
    background:indigo;
}
.middle-content .box10{
    background:dodgerblue;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: content-box;
    width: 100%;
    padding:2%;
}

.middle-content .boxes .box1{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box2{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box3{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box4{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box5{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box6{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box7{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box8{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box9{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box10{
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
.aboutheader{
    margin-top:10px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
.aboutheader p{
    margin-bottom:20px;
}
.aboutbody{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding-left:;
}
.aboutbody div{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:;
    width:45%;
    border-bottom:2px dotted black;
    padding:10px 0;
}
.aboutbody button{
    width:7rem;
    height:2rem;
    border-radius:10px;
    background:white;
}
h3{
    padding:50px 25px 25px 25px;
}
.aboutfooter p{
    padding:0 25px 25px 25px;
}